<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from technext.github.io/skydash/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Nov 2022 07:15:04 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="~/asstes/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/asstes/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/asstes/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/asstes/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/asstes/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/asstes/js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
    <link rel="stylesheet" href="~/asstes/css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <!-- endinject -->
    <link rel="shortcut icon" href="~/asstes/images/favicon.png" />
</head>
<style>
    .sidebar{
        width:300px ;
    }
</style>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="index-2.html"><img src="~/user/images/logo1.png" class="mr-2" alt="logo"/></a>
                <a class="navbar-brand brand-logo-mini" href="index-2.html"><img src="~/user/images/logo1.png" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            
                            @{
                                var imageUser = User.FindFirst("ImageUser");
                                if (imageUser != null)
                                {
                                    <img src="@imageUser.Value" alt="profile" />
                                }
                            }
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                @*@User.Identity.Name*@
                                @{
                                    var fullNameClaim = User.FindFirst("FullName");
                                    if (fullNameClaim != null)
                                    {
                                        @fullNameClaim.Value
                                    }
                                }
              </a>
                            <a href="/Account/Logout" class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
@*        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Quản Lý Tài Khoản</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="~/User/Index">Danh Sách Người Dùng</a></li>
              </ul>
            </div>
          </li>
        </ul>*@


                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Home">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Account Management</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="~/User/Index">List user</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                            <i class="icon-columns menu-icon"></i>
                            <span class="menu-title">Post Management</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="form-elements">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="~/Post/Index">List Post</a></li>
                            </ul>
                        </div>
                    </li>
                   
                </ul>

      </nav>
      <!-- partial -->
      <div class="main-panel">
              <div class="content-wrapper">
                @RenderBody()
              </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/asstes/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
    <script src="~/asstes/vendors/chart.js/Chart.min.js"></script>
    @*<script src="~/asstes/vendors/datatables.net/jquery.dataTables.js"></script>*@
    <script src="~/asstes/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/asstes/js/dataTables.select.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
    <script src="~/asstes/js/off-canvas.js"></script>
    <script src="~/asstes/js/hoverable-collapse.js"></script>
    <script src="~/asstes/js/template.js"></script>
    <script src="~/asstes/js/settings.js"></script>
    <script src="~/asstes/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
    <script src="~/asstes/js/dashboard.js"></script>
    <script src="~/asstes/js/Chart.roundedBarCharts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @RenderSection("Scripts",required:false)

  <!-- End custom js for this page-->
</body>


<!-- Mirrored from technext.github.io/skydash/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Nov 2022 07:15:16 GMT -->
</html>

