  <!-- navigation top-->
<div class="nav-header bg-white shadow-xs border-0" style="height: 65px; ">
    <div class="nav-top">
        <a asp-area="SocialUser" asp-controller="Home" asp-action="Index">
            <img src="~/user/images/logo1.png" class="w-25" />
        </a>
        <a href="#" class="mob-menu ms-auto me-2 chat-active-btn"><i class="feather-message-circle text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
        <a href="default-video.html" class="mob-menu me-2"><i class="feather-video text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
        <a href="#" class="me-2 menu-search-icon mob-menu"><i class="feather-search text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
        <button class="nav-menu me-0 ms-2"></button>
    </div>

    <form action="#" class="float-left header-search">
        <div class="form-group mb-0 icon-input">
            <i class="feather-search font-sm text-grey-400"></i>
            <input type="text" placeholder="Start typing to search.." class="bg-grey border-0 lh-32 pt-2 pb-2 ps-5 pe-3 font-xssss fw-500 rounded-xl w350 theme-dark-bg">
        </div>
    </form>

    <a href="default-settings.html" class="p-0 ms-3 menu-icon"><img src="~/user/images/profile-4.png" alt="user" class="w40 mt--1"></a>

</div>
<!-- navigation top -->