@using DoAN_k4.Helpers
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var email = @HttpContextAccessor.HttpContext.Session.GetString("Email");
    var Image = @HttpContextAccessor.HttpContext.Session.GetString("Image");
}
<div class="nav-header bg-white shadow-xs border-0" style="height: 65px; justify-content: space-between; ">
    <div class="nav-top">
        <a asp-area="SocialUser" asp-controller="Home" asp-action="Index">
            <img src="~/user/images/logo1.png" class="w-25" />
        </a>
        <a href="#" class="mob-menu ms-auto me-2 chat-active-btn"><i class="feather-message-circle text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
        <a href="default-video.html" class="mob-menu me-2"><i class="feather-video text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
        <a href="#" class="me-2 menu-search-icon mob-menu"><i class="feather-search text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
        <button class="nav-menu me-0 ms-2"></button>
    </div>

  

    <a asp-area="SocialUser" asp-controller="Account" asp-action="Index" class="p-0 ms-3 menu-icon">
        @if (!string.IsNullOrEmpty(Image))
        {
            var userIG = Image.Replace("http://10.0.2.2:3000", "http://localhost:3000");
            <img src="@userIG" alt="image" class="w40 mt--1">
        }
        else
        {
            <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_960_720.png" alt="image" class="w40 mt--1">
        }
        @*<p>
            @email
        </p>*@
    </a>

</div>
<!-- navigation top -->